{{#each result}}
<div class="card">
    <div class="card-img-top">
        <img src="{{sprites.front_default}}" alt="{{name}}">
    </div>
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">Имя: {{name}}</p>
        <p class="card text">Вес: {{weight}} </p>
    </div>
</div>
{{/each}}

